.shopNow-hero {
    background-color: #00c0ff;
    color: #fff;
    margin-bottom: 50px;
    &__wrapper {
        padding: 75px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &-text {
            width: 40%;
            margin-right: 30px;
        }
        &-img {
            width: 40%;
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
            &--snowball {
                position: absolute;
                bottom: -10%;
                left: -10%;
                width: 20%;
                height: auto;
            }
            &--snowflakes {
                position: absolute;
                top: -6%;
                right: -6%;
                width: 23%;
                height: auto;
            }
        }
    }
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-el {
        margin: 0 4% 85px;
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .shopNow-hero__wrapper {
        flex-direction: column;
        padding: 50px 0;
    }
    .shopNow-hero__wrapper-text,
    .shopNow-hero__wrapper-img {
        width: 100%;
    }
    .shopNow-hero__wrapper-text{
        margin-bottom: 30px;
    }
    .productsList-el{
        width: 40%;
    }
}
