.About {
    &-hero {
        background-color: #00c0ff;
        color: #fff;
        margin-bottom: 50px;
        &__wrapper {
            padding: 75px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &-text {
                width: 40%;
            }
            &-img {
                width: 40%;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }
                &--snowflake {
                    position: absolute;
                    top: -6%;
                    right: -6%;
                    width: 23%;
                    height: auto;
                    font-size: 75px;
                    color: #fff;
                }
            }
        }
    }
    &-misson {
        font-size: 20px;
        text-align: center;
        font-weight: 400px;
        max-width: 660px;
        margin: 0 auto;
        color: #333;
        margin-bottom: 70px;
    }
    &-story {
        margin-bottom: 70px;

        &__wrapper {
            display: flex;
            justify-content: space-between;
            &-img {
                width: 35%;
                position: relative;
                & img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
                &--snowball {
                    position: absolute;

                    top: -6%;
                    right: -6%;
                    width: 30%;
                    height: auto;
                }
                &--snowflakes {
                    position: absolute;
                    bottom: -5%;
                    left: -5%;
                    width: 23%;
                    height: auto;
                }
            }
            &-text {
                width: 60%;
                padding: 50px;
                &--title {
                    margin-bottom: 25px;
                }
                &--points {
                    & li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        & h4 {
                            width: 35%;
                            position: relative;
                            padding-left: 60px;
                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: -10px;
                                transform: translateY(-50%);
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                        }
                        & p {
                            width: 55%;
                        }
                        &:nth-child(1) {
                            h4::before {
                                background-color: #ffd547;
                            }
                        }
                        &:nth-child(2) {
                            h4::before {
                                background-color: #22c55e;
                            }
                        }
                    }
                }
            }
        }
    }

    &-team {
        &__wrapper {
            max-width: 800px;
            padding: 50px 0;
            margin: 0 auto;
            margin-bottom: 50px;
            background: #00c0ff;
            border-radius: 15px;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-top {
                display: flex;
                justify-content: center;
                align-items: center;
                &--title {
                    text-align: center;
                    margin-bottom: 25px;
                }
            }
            &-bottom {
                display: flex;
                justify-content: space-around;
                margin-bottom: 30px;
                &--officer {
                    width: 35%;
                    border-radius: 15px;
                    overflow: hidden;
                    &_image {
                        width: 100%;
                        max-height: 280px;
                        & img {
                            width: 100%;
                            // height: auto;

                            object-fit: cover;
                        }
                    }
                    &_descr {
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        text-align: center;
                        background-color: #fff;
                        padding: 15px;
                        margin-top: -10px;
                        & h4 {
                            margin: 0;
                            margin-bottom: 10px;
                        }
                        & p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .About-hero__wrapper {
        flex-direction: column;
        padding: 50px 0;
    }
    .About-hero__wrapper-text,
    .About-hero__wrapper-img {
        width: 100%;
    }
    .About-hero__wrapper-text {
        margin-bottom: 30px;
    }

    .About-story__wrapper {
        flex-direction: column;
    }
    .About-story__wrapper-img,
    .About-story__wrapper-text {
        width: 100%;
    }
    .About-story__wrapper-text {
        margin-top: 30px;
    }
    .About-team__wrapper-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .About-team__wrapper-bottom--officer {
        width: 50%;
        margin-bottom: 30px;
    }
    .About-team__wrapper-bottom--officer_image {
        max-height: 360px;
    }
}

@media screen and (max-width: 576px) {
    .About-story {
        margin-bottom: 0;
    }
    .About-story__wrapper-text--points li {
        flex-direction: column;
        margin-bottom: 15px;
    }
    .About-story__wrapper-text--points li h4,
    .About-story__wrapper-text--points li p {
        width: 100%;
    }
    .About-team__wrapper-bottom--officer {
        width: 80%;
    }
    .About-team__wrapper-bottom--officer_image {
        max-height: 400px;
    }
}
