.Home {
    padding-top: 30px;
    &-hero {
        color: #fff;
        margin-bottom: 50px;
        &__wrapper {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0 0;
            padding: 75px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &-text {
                width: 40%;
                margin-right: 10%;
                &--btns {
                    margin-top: 20px;
                    & button {
                        &:first-child {
                            margin-right: 10px;
                        }
                    }
                }
            }
            &-img {
                width: 40%;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                }
                &--penguin {
                    position: absolute;
                    bottom: -10%;
                    left: -20%;
                    width: 35%;
                    height: auto;
                }
            }
        }
    }
    &-misson {
        font-size: 20px;
        text-align: center;
        font-weight: 400px;
        max-width: 660px;
        margin: 0 auto;
        color: #333;
        margin-bottom: 50px;
    }
    &-todo {
        .container {
            padding: 50px 0;
            margin-bottom: 50px;
            background: #ffffff;
            border-radius: 15px;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
        }
        &__title {
            text-align: center;
            margin-bottom: 25px;
        }
        &__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            padding: 40px;
            &-el {
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &--icon {
                    font-size: 45px;
                    &.icon1 {
                        color: #22c55e;
                    }
                    &.icon2 {
                        color: #ff6472;
                    }
                    &.icon3 {
                        color: #ffd547;
                    }
                }
                &--description {
                    text-align: center;
                    & h4 {
                        font-size: 22px;
                        font-weight: 500;
                        margin: 10px 0;
                    }
                    
                }
            }
        }
        &__learnmore {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-contact {
        .container {
            padding: 50px 0;
            margin-bottom: 50px;
            background: #00c0ff;
            border-radius: 15px;
            box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__title {
            margin-bottom: 25px;
        }
    }
}
