

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    background-color: #00c0ff;
    height: 100px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            display: block;
            position: relative;
            z-index: 2;
            width: 100px;
            display: flex;
            align-items: center;
            & img {
                width: 100%;
                height: auto;
                max-height: 100px;
                object-fit: contain;
            }
        }

        &__menu {
            &--list {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                &_el {
                    cursor: pointer;
                    padding: 10px;
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }

        &__icons {
            &--list {
                display: flex;
                align-items: center;
                &_el {
                    margin: 0 5px;
                    font-size: 24px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        &__burger {
            display: none;
            position: relative;
            z-index: 2;
            width: 30px;
            height: 20px;
            &--cont {
                width: 100%;
                height: 100%;
                position: relative;
                &_el {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #414b56;
                    transition: all 0.25s ease-in-out;
                    transition-delay: 1ms;
                    &:nth-child(1) {
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%) translateY(0);
                    }
                    &:nth-child(2) {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:nth-child(3) {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:nth-child(4) {
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-100%);
                    }
                }
            }
        }
    }
}

.header-wrapper__burger--cont.burgerActive {
    .header-wrapper__burger--cont_el:nth-child(1) {
        width: 0;
    }

    .header-wrapper__burger--cont_el:nth-child(2) {
        transform: rotate(45deg);
    }

    .header-wrapper__burger--cont_el:nth-child(3) {
        transform: rotate(-45deg);
    }

    .header-wrapper__burger--cont_el:nth-child(4) {
        width: 0;
    }
}

.header-wrapper__menu.menuActive {
    transform: translateX(0);
}

.header.scroll {
    height: 80px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;

    .header-wrapper__logo img {
        max-height: 80px;
    }

}

@media screen and (max-width: 992px) {
    .header-wrapper__menu {
        // display: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: transform 0.35s ease-in-out;
        width: 100%;
        height: 100vh;
        background-color: #c5d9e0;
        &--list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &_el {
                margin: 10px 0;
                font-size: 24px;
                &:last-child {
                    padding: 10px;
                }
            }
        }
    }
    .header-wrapper__burger {
        display: block;
    }
}
